extends layouts/layout

block content
  h2 Log In
  if error
    p.error= error
  form(action="/login", method="post")
    .form-group
      label(for="username") Username:
      input(type="text", name="username", required)
    .form-group
      label(for="password") Password:
      input(type="password", name="password", required)
    .form-group
      button(type="submit") Log In
  a(href="/register") Register
